DirectoryIndex index.php

# Descomenta la siguiente línea en tu hosting de producción
 SetEnv CI_ENV production

RewriteEngine On

# Forzar Header Authorization (Apache suele eliminarlo)
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]

